In [35]:
#salary

import pandas as pd
import numpy as np

s_df = pd.read_csv('salary.csv')
s_df.head(10)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39.0,State-gov,77516.0,Bachelors,13.0,Never-married,Adm-clerical,Not-in-family,White,Male,2174.0,0,40.0,United-States,<=50K
1,50.0,Self-emp-not-inc,83311.0,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.0,0,13.0,United-States,<=50K
2,38.0,Private,215646.0,HS-grad,9.0,Divorced,Handlers-cleaners,Not-in-family,White,Male,0.0,0,40.0,United-States,<=50K
3,53.0,Private,234721.0,11th,7.0,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0.0,0,40.0,United-States,<=50K
4,28.0,Private,338409.0,Bachelors,13.0,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0.0,0,40.0,Cuba,<=50K
5,37.0,Private,284582.0,Masters,14.0,Married-civ-spouse,Exec-managerial,Wife,White,Female,0.0,0,40.0,United-States,<=50K
6,49.0,Private,160187.0,9th,5.0,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0.0,0,16.0,Jamaica,<=50K
7,52.0,Self-emp-not-inc,209642.0,HS-grad,9.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.0,0,45.0,United-States,>50K
8,31.0,Private,45781.0,Masters,14.0,Never-married,Prof-specialty,Not-in-family,White,Female,14084.0,0,50.0,United-States,>50K
9,42.0,Private,159449.0,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178.0,0,40.0,United-States,>50K

In [36]:
s_df.isnull().sum()

age               3
workclass         3
fnlwgt            4
education         2
education-num     2
marital-status    2
occupation        5
relationship      4
race              2
sex               0
capital-gain      3
capital-loss      0
hours-per-week    1
native-country    2
salary            0
dtype: int64

In [37]:
from sklearn.preprocessing import LabelEncoder

def labelencoding(df):
    for c in df.columns:
        if df[c].dtype == 'object':
            df[c] = df[c].fillna('N')
            lbl = LabelEncoder()
            lbl.fit(list(df[c].values))
            df[c] = lbl.transform(df[c].values)
    return df

In [45]:
l_df = labelencoding(s_df)
l_df.head(10)

s_labels = l_df['salary']
s_datas = l_df.drop('salary', axis=1)

## NAN

In [46]:
from sklearn.impute import SimpleImputer

imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
imputer = imputer.fit(s_datas)
s_datas = imputer.transform(s_datas)

## Scaler

In [47]:
from sklearn.preprocessing import MinMaxScaler
scl = MinMaxScaler(feature_range=(0,1))
s_datas = scl.fit_transform(s_datas)

In [52]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(s_datas, s_labels, test_size=0.2, random_state=12)

In [53]:
dt = RandomForestClassifier(random_state=12)
dt.fit(x_train, y_train)

RandomForestClassifier(random_state=12)

In [54]:
pred = dt.predict(x_test)

In [56]:
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
print(classification_report(y_test, pred))
print(accuracy_score(y_test,pred))
print(confusion_matrix(y_test, pred))

              precision    recall  f1-score   support

           0       0.89      0.93      0.91      4928
           1       0.75      0.62      0.68      1585

    accuracy                           0.86      6513
   macro avg       0.82      0.78      0.79      6513
weighted avg       0.85      0.86      0.85      6513

0.8576692768309535
[[4596  332]
 [ 595  990]]